* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bg-img {
	background-image: url("images/b71b0744d36e2ae7dd639763e7992154.jpeg");

    min-height: 100%;
    position: absolute  ;
    background-position: center;
    background-size: cover;
}
