*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
.header{
    background-image:linear-gradient(rgba(4, 9, 30, 0.7) , rgba(4, 9, 30, 0.7)) , url("Images/banner.png"); ;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    /* background-color: black; */
}
nav img{
    width: 130px;
}
.nav-links{
    display: block;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    
    
}
.nav-links ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav-links ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background:gold;
    margin: auto;
    display: block;
    transition: 0.3s ease;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    line-height: 19px;
}
.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    background:transparent;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    transition: 0.5s ease;
    
}
.btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    color: black;
    font-weight: 500;
    

   
}
nav .fa{
    display: none;
}
@media  (max-width:900px) {
    .text-box h1{
        font-size: 22px;
    }
    .nav-links ul li{
        display: block;
        
    }
    .nav-links{
        position: absolute;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        text-align: left;
        z-index: 2;
        background: #f44336;
        transition: 1s ease;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
    
}
.course{
   
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    font-size: 14px;
    font-weight: 300;
  
    padding: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 5%;
    margin-bottom: 10px;
    padding: 20px 12px;
    transition: 0.5s ease;
    
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col p{
    
    line-height: 27px;
    text-align: justify;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
   
}

@media (max-width:800px) {
    .row{
        flex-direction: column;
    }
    
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus h1{
    font-size: 36px;
    font-weight: 600;
}
.campus p{
    font-size: 14px;
    font-weight: 300;
  
    padding: 10px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease;
}
.layer h3{
    width: 100%;
    font-weight: 600;
    font-size: 26px;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s ease;
    text-transform: uppercase;
}
.layer:hover{
    background: rgba(226,0,0, 0.7);
   
}
.layer:hover h3{
    opacity: 1;
    bottom: 50%;
}