@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.section {
	min-height: 100vh;
	width: 100%;
	background-color: #121321;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section::before {
	content: " ";
	min-height: 240px;
	width: 240px;
	background: linear-gradient(90deg, #9c27b0, #f3f5f5);
	position: absolute;
	border-radius: 50%;
	transform: translate(-150px, -100px);
}
.section::after {
	content: " ";
	min-height: 240px;
	width: 240px;
	background: linear-gradient(90deg, #9c27b0, #f3f5f5);
	position: absolute;
	border-radius: 50%;
	transform: translate(150px, 100px);
}

.container {
	height: 220px;
	width: 375px;
	position: relative;
	z-index: 100;
	color: white;
}
.card {
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	backdrop-filter: blur(25px);
	border: 2px solid rgba(255, 255, 255, 0.1);
}
.card.front-face {
	padding: 10px;
}
.front-face header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.front-face .logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	width: 50px;
	margin-right: 5px;
}
h5 {
	font-size: 20px;
	font-weight: 400;
}
.chip {
	width: 55px;
}
.front-face .card-details {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 40px;
}
h6 {
	font-size: 18px;
	font-weight: 400;
}
h5.number {
	font-size: 18px;
	letter-spacing: 2px;
}
h5.name {
	margin-top: 4px;
}
.card-details .valid-date {
	margin-bottom: 20px;
}

.card .back-face {
	border: none;
}
.card.back-face h6 {
	font-size: 8px;
}
